<div class="w-full h-screen py-8 px-8">
  <div class="flex justify-between items-center mb-2 border-b">
    <div>
      <p class="text-xl text-gray-500 mb-2">Portfolio Total Value:</p>
      <div class="flex items-center gap-2 mb-6 text-white">
        <span class="text-2xl"><%= number_to_currency(@total_portfolio_value) %></span>
      </div>
    </div>
    <div>
      <p class="text-xl text-gray-500 mb-2">Cash Balance:</p>
      <div class="flex items-center gap-2 mb-6 text-white">
        <span class="text-2xl"><%= number_to_currency(@cash_balance) %></span>
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-2.5">
    <%= render 'portfolio_chart' %>
    <% if @portfolios.present? %>
      <%= render 'portfolio_table'%>
    <% else %>
      <p class="text-white text-center italic">
        You currently do not have any stocks in your portfolio. To begin investing, <%= link_to "purchase stocks", stocks_path %> now.
      </p>
    <% end%>
  </div>
</div>