<div class="w-full h-screen py-8 px-8">
  <div class="flex justify-between items-center mb-2 border-b">
    <div>
      <p class="text-xl text-gray-500 mb-2">Portfolio Total Value:</p>
      <div class="flex items-center gap-2 mb-6 text-white">
        <span class="text-2xl"><%= number_to_currency(@total_portfolio_value) %></span>
      </div>
    </div>
    <div>
      <p class="text-xl text-gray-500 mb-2">Net Gain/Loss:</p>
      <div class="flex items-center gap-2 mb-6 text-white">
        <% if @total_gain_loss.positive? %>
          <span class="text-2xl text-green-500" style="text-shadow: 0 0 5px rgba(0, 255, 0, 0.5);">
            <%= number_to_currency(@total_gain_loss) %>
          </span>
        <% elsif @total_gain_loss.negative? %>
          <span class="text-2xl text-red-500" style="text-shadow: 0 0 5px rgba(255, 0, 0, 0.5);">
            <%= number_to_currency(@total_gain_loss) %>
          </span>
        <% else %>
          <span class="text-2xl"><%= number_to_currency(@total_gain_loss) %></span>
        <% end %>
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-2.5">
    <%= render 'portfolio_chart' %>
    <% if @portfolios.present? %>
      <%= render 'portfolio_table'%>
    <% else %>
      <p class="text-white text-center italic">
        You currently do not have any stocks in your portfolio. To begin investing, <%= link_to "purchase stocks", stocks_path %> now.
      </p>
    <% end%>
  </div>
</div>