<div class="w-full h-full py-8 px-8 flex flex-col gap-2 ">
  <div class="mb-4 border-b">
    <div class="mb-2">
      <% @stocks.each do |stock| %>
        <%= render 'shared/widgets/mini_chart', ticker_symbol: stock.ticker_symbol%>
      <% end %>
    </div>
  </div>
  
  <div class="text-white flex justify-between gap-2.5 w-full">
    <div class="flex flex-col gap-1 w-1/3 px-6">
      <h3 class="font-bold py-2">Portfolio Overview</h3>

      <div>
        <div class="border-b border-gray-500">
          <div class="flex items-center justify-between pt-4 pb-5">
            <p class="text-base text-gray-500">Share Holdings:</p>
            <span class="text-base"><%= @portfolio.number_of_shares %> shares</span>
          </div>
        </div>

        <div class="border-b border-gray-500">
          <div class="flex items-center justify-between py-5">
            <p class="text-base text-gray-500">Portfolio Value:</p>
            <span class="text-base"><%= number_to_currency(@single_stock_portfolio_value) %></span>
          </div>
        </div>

        <div class="border-b border-gray-500">
          <div class="flex items-center justify-between py-5">
            <p class="text-base text-gray-500">Gain/Loss:</p>
            <% if @gain_loss.positive? %>
              <span class="text-base text-green-500" style="text-shadow: 0 0 5px rgba(0, 255, 0, 0.5);">
                <%= number_to_currency(@gain_loss) %>
              </span>
            <% elsif @gain_loss.negative? %>
              <span class="text-base text-red-500" style="text-shadow: 0 0 5px rgba(255, 0, 0, 0.5);">
                <%= number_to_currency(@gain_loss) %>
              </span>
            <% else %>
              <span class="text-base"><%= number_to_currency(@gain_loss) %></span>
            <% end %>
          </div>
        </div>

        <div class="border-b border-gray-500">
          <div class="flex items-center justify-between py-5">
            <p class="text-base text-gray-500">Return of Investment:</p>
            <% if @roi.positive? %>
              <span class="text-base text-green-500" style="text-shadow: 0 0 5px rgba(0, 255, 0, 0.5);">
                <%= @roi.round(2) %>%
              </span>
            <% elsif @roi.negative? %>
              <span class="text-base text-red-500" style="text-shadow: 0 0 5px rgba(255, 0, 0, 0.5);">
                <%= @roi.round(2) %>%
              </span>
            <% else %>
              <span class="text-base"><%= @roi.round(2) %>%</span>
            <% end %>
          </div>
        </div>

        <div class="flex items-center justify-between pt-5 pb-10">
          <% @asset_allocation.each do |ticker_symbol, allocation| %>
            <p class="text-base text-gray-500">Asset Allocation:</p>
            <span class="text-base"><%= number_to_percentage(allocation, precision: 2) %></span>
          <% end %>
        </div>
      </div>
    </div>

    <div class="w-2/3">
      <%= render 'transactions' %>
    </div>
  </div>
</div>