<h1 class="text-white">Traders</h1>
<div class="flex justify-center">
  <div class="overflow-x-auto sm:mx-4 lg:mx-4">
    <div class=" inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="min-w-full">
          <thead class="bg-white border-b">
            <tr>
              <th scope="col" class="text-sm font-medium text-black px-6 py-4 text-left">
                Name
              </th>
              <th scope="col" class="text-sm font-medium text-black px-6 py-4 text-left">
                ID
              </th>
              <th scope="col" class="text-sm font-medium text-black px-6 py-4 text-left">
                Email
              </th>
              <th scope="col" class="text-sm font-medium text-black px-6 py-4 text-left">
                Status
              </th>
              <th scope="col" class="text-sm font-medium text-black px-6 py-4 text-left">
                Action
              </th>
            </tr>
          </thead>
          <tbody>
            <% @traders.each do |trader| %>
            <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                <%= trader.first_name %><%= trader.last_name %>
              </td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                <%= trader.id %>
              </td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                <%= trader.email %>
              </td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                <%= trader.confirmed? ? "Confirmed" : "Not Confirmed" %>
              </td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                Edit
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
