<h1>Home#landing</h1>
<p>Find me in app/views/home/landing.html.erb</p>

<h3> Trader </h3>
<div>
    <% if trader_signed_in? %>
    <%= link_to 'Sign out',  destroy_trader_session_path, method: :delete, data: { turbo_method: :delete} %>
    <%= link_to 'Edit Registration',  edit_trader_registration_path %>
    <p>Howdy, <%= current_trader.first_name %></p>
<% elsif !admin_signed_in? %>
    <%= link_to 'Sign up',  new_trader_registration_path %>
    <%= link_to 'Login', new_trader_session_path %>
<% end %>
</div>

<h3>Admin</h3>
<% if admin_signed_in? %>
    <h3>Admin </h3>
    <%= link_to 'Sign out',  destroy_admin_session_path, method: :delete, data: { turbo_method: :delete} %>
<% elsif !trader_signed_in? %>
    <%= link_to 'Login as Admin', new_admin_session_path %>
<% end %>