<div class="mx-auto max-w-7xl flex justify-center items-center h-screen">
  <div class="sm:mx-auto sm:w-full sm:max-w-md ">
    <div class="bg-gray-400 p-8 rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-10 border border-gray-100"> 
      <div class="mb-4 text-center mt-2 text-white font-bold text-4xl">
          <%= @trader.new_record? ? 'Add' : 'Edit' %> Trader
      </div>
      <%= form_with(model: @trader, url: @trader.new_record? ? admin_pages_path : admin_page_path(@trader), method: @trader.new_record? ? :post : :patch, local: false) do |f| %>
        <div class="grid md:grid-cols-2 md:gap-3 mb-4">
          <div>
            <%= f.label :first_name, class: "text-sm font-medium text-white" %><br />
            <%= f.text_field :first_name, autocomplete: "given-name", placeholder: "Juan",  class: "w-full rounded-md border border-gray-300 shadow-md shadow-gray-900/10" %>
          </div>
          <div>
            <%= f.label :last_name, class: "text-sm font-medium text-white" %><br />
            <%= f.text_field :last_name, autocomplete: "family-name", placeholder: "Dela Cruz",  class: "w-full rounded-md border border-gray-300 shadow-md shadow-gray-900/10" %>
          </div>
        </div>
        <div class="mb-4">
          <%= f.label :email, class: "block text-sm font-medium text-white" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "name@email.com", class: "mt-1 p-2 w-full rounded-md border border-gray-300 shadow-md shadow-gray-900/10"%>
         </div>
        <% if @trader.new_record? %> 
        <div class="mb-4">
            <%= f.label :password, class: "block text-sm font-medium text-white" %>
            <%= f.password_field :password, autocomplete: "current-password", class: "mt-1 p-2 w-full rounded-md border border-gray-300 shadow-md shadow-gray-900/10 " %>
          </div>
        <% end %>
        <% if !@trader.new_record? %> 
          <div class="mt-1">
            <label class="inline-flex items-center">
              <%= f.check_box :approved, { checked: @trader.approved }, true, false %>
              <span class="ml-2 text-sm text-white">Approved</span>
            </label>
          </div>
        <% end %>

        <div class="mb-4 pt-2">
          <%= f.submit "Submit", class: "w-full bg-gradient rounded-big focus:ring-4 focus:outline-none focus:ring-blue-300 text-white font-bold text-xl py-2.5 shadow-md shadow-gray-900/10" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
