<nav class="border-slate-950 w-full flex items-center justify-between py-4">
  <div>
    <%= link_to 'Approved', admin_pages_path, class: 'btn-secondary mr-4' %>
    <%= link_to 'Pending', admin_pending_traders_path, class: 'btn-secondary' %>
    </div>

    <%= search_form_for @q, url: admin_pages_path do |f| %>
      <%= f.label :first_name_cont %>
      <%= f.search_field :first_name_cont %>
      <%= f.submit %>
    <% end %>

</nav>

<table class="w-full">
  <thead class="bg-black border-b">
    <tr>
      <th scope="col" class="text-sm font-medium text-white px-6 py-4 text-left">
        ID
      </th>
      <th scope="col" class="text-sm font-medium text-white px-6 py-4 text-left">
        Name
      </th>
      <th scope="col" class="text-sm font-medium text-white px-6 py-4 text-left">
        Email
      </th>
      <th scope="col" class="text-sm font-medium text-white px-6 py-4 text-left flex justify-center">
        Action
      </th>
    </tr>
  </thead>
  <tbody>
    <% @traders.each do |trader| %>
    <tr class="bg-gray21 border-b">
      <td class="text-sm text-white font-light px-6 py-4 whitespace-nowrap">
        <%= trader.id %>
      </td>
      <td>
        <%= link_to "#{trader.first_name} #{trader.last_name}", admin_page_path(trader.id), class: "text-sm text-white no-underline font-light px-6 py-4 whitespace-nowrap" %>
      </td>
      <td class="text-sm text-white font-light px-6 py-4 whitespace-nowrap">
        <%= trader.email %>
      </td>
      <td class="text-sm text-white font-light px-6 py-4 whitespace-nowrap flex justify-center">
        <%= link_to edit_admin_page_path(trader) do %>
      <i class="fas fa-edit text-white"></i>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="py-4 flex justify-center">
  <%== pagy_nav(@pagy) %>
</div>
