<div class="mt-12">
    <div class="relative overflow-x-auto bg-lightdark shadow-md sm:rounded-lg">
        <%= render 'nav_links' %>
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-lightdark">
                <tr class="border-b border-gray-500">
                    <th scope="col" class="px-6 py-3">
                        ID
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Email
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
            <% @traders.each do |trader| %>
                <tr class="border-b border-gray-500 bg-lightdark">
                    <th scope="row" class="px-6 py-4 font-medium text-white whitespace-nowrap">
                        <%= trader.id %>
                    </th>
                    <td class="px-6 py-4">
                        <%= link_to "#{trader.first_name} #{trader.last_name}", admin_page_path(trader.id), class: "text-sm text-white no-underline font-light px-6 py-4 whitespace-nowrap" %>
                    </td>
                    <td class="px-6 py-4">
                        <%= trader.email %>
                    </td>
                    <td class="px-6 py-4">
                        <%= link_to edit_admin_page_path(trader) do %>
                        <i class="fas fa-edit mr-2"></i>
                        <span class="text-white">Edit</span>
                        <% end %> 
                    </td>
                </tr>
            <% end %>
            </tbody>
        </table>
        <div class="py-4 px-2 flex justify-center">
        <%== pagy_nav(@pagy) %>
        </div>
    </div>
</div>

