<div class="mt-8">
    <div class="relative overflow-x-auto bg-lightdark shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-lightdark">
            <tr class="border-b border-gray-500">
                <th scope="col" class="px-6 py-3">
                    Stock
                </th>
                <th scope="col" class="px-6 py-3">
                    Transaction Type
                </th>
                <th scope="col" class="px-6 py-3">
                    Number of Shares
                </th>
                <th scope="col" class="px-6 py-3">
                    Price
                </th>
                <th scope="col" class="px-6 py-3">
                    Date
                </th>
            </tr>
            </thead>
            <tbody>
                <% @transaction.each do |t| %>
                <tr class="border-b border-gray-500 bg-lightdark">
                    <th scope="row" class="px-6 py-4 font-medium text-white whitespace-nowrap">
                        <%= t.stock.ticker_symbol %> - <%= t.stock.company_name %>
                    </th>
                    <td class="px-6 py-4">
                        <%= t.transaction_type %>
                    </td>
                    <td class="px-6 py-4">
                        <%= t.number_of_shares %>
                    </td>
                    <td class="px-6 py-4">
                        <%= number_to_currency(t.price) %>
                    </td>
                    <td class="px-6 py-4">
                        <%= t.created_at.strftime("%Y-%m-%d") %>
                    </td>
                </tr>
                <% end %>
            </tbody>
    </table>
    </div>
</div>