<div class="p-4">
<% if @transactions.present? %>
<table class="w-full">
  <thead class="bg-black border-b">
    <tr>
      <th scope="col" class="text-sm font-medium text-white px-6 py-4 text-left">
        Stock
      </th>
      <th scope="col" class="text-sm font-medium text-white px-6 py-4 text-left">
        Transaction Type
      </th>
      <th scope="col" class="text-sm font-medium text-white px-6 py-4 text-left">
        Number of Shares
      </th>
      <th scope="col" class="text-sm font-medium text-white px-6 py-4 text-left">
        Price
      </th>
      <th scope="col" class="text-sm font-medium text-white px-6 py-4 text-left">
        Date
      </th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
    <tr class="bg-gray21 border-b">
      <td class="text-sm text-white font-light px-6 py-4 whitespace-nowrap">
        <%= transaction.stock.ticker_symbol %> - <%= transaction.stock.company_name %>
      </td>
      <td class="text-sm text-white font-light px-6 py-4 whitespace-nowrap">
        <%= transaction.transaction_type %>
      </td>
      <td class="text-sm text-white font-light px-6 py-4 whitespace-nowrap">
        <%= transaction.number_of_shares %>
      </td>
      <td class="text-sm text-white font-light px-6 py-4 whitespace-nowrap">
        <%= number_to_currency(transaction.price) %>
      </td>
      <td class="text-sm text-white font-light px-6 py-4 whitespace-nowrap">
        <%= transaction.created_at.strftime("%Y-%m-%d") %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
    <p>There are currently no transactions on record.</p>
<% end %>
</div>
