<div class="relative overflow-x-auto bg-lightdark shadow-md sm:rounded-lg">
    <%= render 'nav_links' %>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-lightdark">
            <tr class="border-b border-gray-500">
                <th scope="col" class="px-6 py-3">
                    Stocks
                </th>
                <th scope="col" class="px-6 py-3">
                    Trade Type
                </th>
                <th scope="col" class="px-6 py-3">
                    Quantity
                </th>
                <th scope="col" class="px-6 py-3">
                    Price per Share
                </th>
                <th scope="col" class="px-6 py-3">
                    Total Price
                </th>
                <th scope="col" class="px-6 py-3">
                    Date
                </th>
            </tr>
        </thead>
        <tbody>
        <% @paginated_transactions.each do |transaction| %>
            <tr class="border-b border-gray-500 bg-lightdark">
                <th scope="row" class="px-6 py-4 font-medium text-white whitespace-nowrap">
                    <div class="flex flex-col gap-0.5">
                        <p><%= transaction.stock.company_name %></p>
                        <p class="text-gray-500"><%= transaction.stock.ticker_symbol %></p> 
                    </div>
                </th>
                <td class="px-6 py-4">
                    <%= transaction.transaction_type %>
                </td>
                <td class="px-6 py-4">
                    <%= transaction.number_of_shares %>
                </td>
                <td class="px-6 py-4">
                    <%= number_to_currency(transaction.price / transaction.number_of_shares) %>
                </td>
                <td class="px-6 py-4">
                    <%= number_to_currency(transaction.price) %>
                </td>
                <td class="px-6 py-4">
                    <%= transaction.created_at.strftime("%Y-%m-%d") %>
                </td>
            </tr>
        <% end %>
        </tbody>
    </table>

    <div class="py-4 px-2 flex justify-center">
        <%== pagy_nav(@pagy) %>
    </div>
</div>