<div class="mt-12">
    <div class="relative overflow-x-auto bg-lightdark shadow-md sm:rounded-lg">
        <%= render 'nav_links' %>
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-lightdark">
                <tr class="border-b border-gray-500">
                    <th scope="col" class="px-6 py-3">
                        Stock
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Transaction Type
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Number of Shares
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Price
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Date
                    </th>
                </tr>
            </thead>
            <tbody>
            <% @transactions.each do |transaction| %>
                <tr class="border-b border-gray-500 bg-lightdark">
                    <th scope="row" class="px-6 py-4 font-medium text-white whitespace-nowrap">
                        <%= transaction.stock.ticker_symbol %> - <%= transaction.stock.company_name %>
                    </th>
                    <td class="px-6 py-4">
                        <%= transaction.transaction_type %>
                    </td>
                    <td class="px-6 py-4">
                        <%= transaction.number_of_shares %>
                    </td>
                    <td class="px-6 py-4">
                        <%= number_to_currency(transaction.price) %>
                    </td>
                    <td class="px-6 py-4">
                        <%= transaction.created_at.strftime("%Y-%m-%d") %>
                    </td>
                </tr>
            <% end %>
            </tbody>
        </table>
    </div>
</div>