

<h1>Transactions</h1>

<p>Cash Balance: <%= number_to_currency(@cash_balance) %></p>

<%= form_tag transactions_path, method: :get do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search for a stock..." %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<div id="search-results">
 <% if @transactions.present? %>
<table>
  <thead>
    <tr>
        <th>Stock</th>
        <th>Transaction Type</th>
        <th>Number of Shares</th>
        <th>Price</th>
        <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.stock.ticker_symbol %> - <%= transaction.stock.company_name %></td>
            <td><%= transaction.transaction_type %></td>
            <td><%= transaction.number_of_shares %></td>
            <td><%= number_to_currency(transaction.price) %></td>
        <td><%= transaction.created_at.strftime("%Y-%m-%d") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
    <p>There are currently no transactions on record.</p>
  <% end %>
  </div>

<%= link_to "Buy Stock", stocks_path %>
<%= link_to "Sell Stock", stocks_path %>
