<h1>Sell Stock</h1>

<%= form_with(url: sell_transactions_path, method: :post) do |f| %>
  <%= f.label :ticker_symbol, "Ticker Symbol" %>
  <%= f.text_field :ticker_symbol %>

  <%= f.label :quantity, "Quantity" %>
  <%= f.number_field :quantity %>

  <%= f.submit "Sell Stock", class: "btn btn-primary" %>
<% end %>