<!DOCTYPE html>
<html>
  <head>
    <title>TradingApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-darkdark h-screen overflow-hidden relative">
    <% if current_trader.blank? && current_admin.blank? %>
    <div class="circlePosition w-[590px] h-[400px] bg-[#eb26fd] rounded-[100%] absolute z-1 blur-[250px] bottom-0 right-0">
    </div>
    <% end %>
    <main class="flex h-full">
      <%= render partial: 'shared/sidebar' %>
      <%= yield %>
    </main>
    <%= render partial: 'shared/notifications' %>
  </body>
</html>
